{% extends "::base.html.twig" %}
{% block body %}
    <h1>Timeline: {{ screenName }}</h1>
    <table>
        <thead>
            <tr>
                <th>{{ 'Tweet'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Image'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for tweet in timeline %}
                <tr>
                    <td>{{ tweet.text }}</td>
                    <td><input id="title-{{ loop.index }}" type="text" value="{{ tweet.title }}" /></td>
                    <td><a href="{{ tweet.image }}" target="_blank"><img id="img-{{ loop.index }}" width="200" src="{{ tweet.image }}" alt="{{ tweet.image }}" /></a></td>
                    <td><button class="tweeter-import-btn" id="btn-{{ loop.index }}">Import</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}